.Header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 10%;
	background-color: red;
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: fantasy;
 }

.left {
	position: fixed;
	top: 7%;
    left: 0;
	bottom: 0;
	padding:1%;
	background: red;
	list-style-position:inside;
	text-align: left;
    width: 10%;
	font-family: Georgia, 'Times New Roman', Times, serif;

	}

#img1{
	position: absolute;
	top: 10%;
	right: 0;
	width: 15%;
	height: fit-content;
	display: table;
}

.middle {
	color: aliceblue;
	font-size: 18px;
	font-family:Georgia, 'Times New Roman', Times, serif
	position: inherit;
	margin-top: 5%;
	margin-left: 12%;
	width: 69%;
	}

#img2{
	align-items: center;
	margin-left: 170px;
	margin-right: 300px; 
	width: 65%; 
	height: 300px;
}


 .footer {
	position: relative;
	background-image: url(Img/sfondo.png);
	margin: -20px ;
	right: 0;
	left: -20px;
	bottom: -20px;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .tabella1{
	margin-left: 170px;
	margin-top: 60px; 
	margin-right: 50px; 
	margin-bottom: 60px; 
	border: 2px solid; 
	color: red;
 }

 .logo{
	position:fixed;
	height: 10%;
	left:0; 
	top:0; 
 }