
#container{
	width:925px; 
    margin-top: 6%;
	margin-left: 7%;
}

.Header {
	position: fixed;
	left: 0;
	top: 0;
	width: 925px;
	height: 82px;
	background-color: red;
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: fantasy;
 }

.left {
	position:absolute;
	top: 7%;
    left: 0;
	bottom: 0;
	padding:1%;
	background: red;
	list-style-position:inside;
	text-align: left;
    width: 150px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-size-adjust:inherit ;

	}

#img1{
	position: static;
	margin-top: -6%;
	float: right;
	width: 150px;
	height: fit-content;
	display: table;
}

.middle {
	color: aliceblue;
	font-size: 18px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	position: inherit;
	margin-top: 5%;
	margin-left: 12%;
	width: 69%;
	}

#img2{
	align-items: center;
	margin-left: 170px;
	margin-right: 300px; 
	width: 65%; 
	height: 300px;
}


 .foot {
	position: relative;
	margin: -20px ;
	right: 0;
	left: -20px;
	bottom: -20px;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .tabella1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	color: red;
	margin-left: 180px;
	margin-top: 100px; 
	margin-right: 50px; 
	margin-bottom: 60px; 
 }

 .logo{
	position:fixed;
	height: 10%;
	left:0; 
	top:0; 
 }

